@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0px;
  overflow: hidden;
} */
/* Hide scrollbar for Chrome, Safari, and Opera */
/* ::-webkit-scrollbar {
  display: none;
} */
:root {
  --red: #0c0404;
  --green: #071004;
  --yellow: #d39c43;
  --green: #1a2421;
  --bgColor: bisque;
  --brown: #3d2b1f;
  --orange: #fdba74;
}
/* Hide scrollbar for Firefox */
/* body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
} */

/* frames*/
@media screen and (min-width: 640px) {
  .page-framed {
    box-shadow: 50px -50px 0 -40px var(--red), -50px 50px 0 -40px var(--red);
  }
}

@media screen and (min-width: 1024px) {
  .hero-framed {
    box-shadow: 10px 10px 0 0 var(--orange);
  }
}

.cover-image-framed {
  box-shadow: 50px -50px 0 -30px var(--red), -50px 50px 0 -30px var(--red);
}
/* box-shadow: -50px -50px 0 -40px var(--red), 50px 50px 0 -40px var(--red); */

/* HERO CSS */

.play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
}

.play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(205, 164, 94, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.play-btn:hover::after {
  border-left: 15px solid #cda45e;
  transform: scale(20);
}

.play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 99;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

/* @media (max-width: 992px) {
  .play-btn {
    margin-top: 30px;
  }
} */

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
