.el {
  cursor: pointer;
}

.el:hover .indicator {
  transform: scale(1);
}

.el .indicator {
  position: absolute;
  width: 5px;
  height: 5px;
  /* top: 35px; */
  left: 50%;
  background-color: #cbd5e1;
  border-radius: 50%;
  transform: scale(0) translateX(-50%);
  transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}
